html { height: 100%; }
body {
  height: 100%;
  color: #626262;
  font-family: 'Istok Web', Verdana, Geneva, sans-serif;
  font-size: 13px;
}
h1 { background: url('../img/logo.png') no-repeat center left; height: 62px; width: 201px; }
h1 a    { display: block; }
h2 { color: #1a3a74; }
h3 { color: #1a3a75; font-size: 14px; }
.under  { color: #626262; font-size: 16px; text-decoration: underline; font-weight: bold; }
h4 { color: #626262; }
h5 a { color: #1A3A75; }

.container { max-width: 1040px; padding: 0; }

/* 1. Header
-------------------------------------------------- */
.header { background: #ffffff; }

.yourlogo {
  color: #f2f2f2;
  font-size: 64px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 0px;
  border: 0;
  margin-left: 5%;
}

nav {
  
  }

.nav-collapse { background-color: #1b1b1b; }
.navbar .nav-collapse > li > a {
  float: none;
  padding: 10px 7px;
  color: #fff;
}

.navbar .nav > li > a {
  float: none;
  padding: 10px 7px;
  color: #fff;
  text-decoration: none;
}

.nav1       { height: 54px; list-style: none; float: right; }
.nav1 li    { float: left; width: auto; }
.nav1 li a  { display: block; float: none; padding: 25px 10px; color: #626262; text-decoration: none; }
.nav1 li a:hover  { color: #1a3a75; }
.nav2       { background: #1a3a75; height: 31px; margin-top: 10px; text-transform: uppercase; }
.nav2 li    { line-height: 0.8em; }
.nav2 li:hover  { background: #626262; }
.nav li a   { font-size: 12px; }
.soc_buttons        { padding-top: 20px; float: right; }

/* 2. Login dropdown
-------------------------------------------------- */
.hidden { display: none; visibility: hidden; }
.loginbox { padding: 10px; padding-bottom: 0px; color: #333333; }
.user { list-style-type: none; }

.dividermenu {
  height: 47px;
  margin: 0 9px;
  border-left: 1px solid #911909;
  border-right: 1px solid #fc5d34;
}

/* 3. Content
-------------------------------------------------- */
#sidebar            { background: #eff0f2; }
#sidebar ul         { list-style: none; margin: 0px !important; padding: 10px 0; }
#sidebar li      { border-bottom: 1px solid #e0e0e0; }
#sidebar li:last-child   { border: none; }
#sidebar li a    { color: #626262; text-decoration: none; font-size: 12px; display: block; padding: 10px 20px; }
#sidebar li a:hover  { text-decoration: none; color: #1a3a74; }

.popular        { background: #626262; width: 100%; color: #fff; }
.popular h2     { font-size: 12px; width: auto; margin: 0; padding: 10px; }
.popular h2 a   { color: #fff; text-transform: uppercase; }
.popular h2 a:hover { text-decoration: none; }
.inactive       { background: #eff0f2; }
.inactive span    { color: #a7a7a7; }
.popular ul     { list-style: none; padding: 0px; margin: 0; }
.popular li     { border-bottom: 1px solid #b2b2b2; padding: 10px; }
.popular li:last-child    { border: none; }
.IDX_news ul    { background: #f7f7f7; min-height: 80px; display: block; margin: 0; width: 100%; }
.IDX_news li         {
    border-right: 1px solid #dddddd;
    padding: 20px 0 20px 20px; 
    background: #f7f7f7;
    color: #404040; 
    height: 80px; 
    font-size: 12px;
    line-height: 1em;
    margin: 0px;
    display: block;
    cursor: pointer;
    float: left;
    width: 22%;
    position: relative;
    }
.IDX_news li:hover  { background: #1a3a75; color: #fff; border-color: #1a3a75; }
.IDX_news li:hover a  { color: #fff; text-decoration: none;  }
.IDX_news li:hover:after   {
   content: "";
   position: absolute;
   top: 100%;
   left: 49%;
   border-top: 6px solid transparent; /* граница сверху элемента */
   border-top-color: inherit; /* наследуем значение родительского элемента */
   border-left: 6px solid transparent; /* левая граница элемента */
   border-right: 6px solid transparent;
}
.IDX_news li:last-child { border: none; }
.IDX_news li:hover:last-child   { background: #1a3a75; color: #fff; border-color: #1a3a75; }
.IDX_article    { background: #eff0f2; min-height: 190px; padding: 10px; font-size: 13px; line-height: 1.2em; }

.date           { color: #1a3a75; }

.IDX_blocks h2  { 
    color: #fff; 
    text-transform: uppercase; 
    height: 30px; 
    background: #626262; 
    font-size: 14px; 
    line-height: 2em; 
    padding-left: 10px; 
 }
.IDX_blocks h2 a    { color: #fff; }
.IDX_blocks p   { 
    height: 90px; 
    border-bottom: 1px solid #e2e2e2;
    line-height: 1.2em;
    text-decoration: underline; 
    color: #626262;
}
.hot h2         { background: #b0251b; }
.hot_more       { 
    color: #b0251b;
    background: url('../img/more.jpg') no-repeat center left;
    padding-left: 20px; 
    text-decoration: underline; 
}
.more           {
    color: #626262; 
    background: url('../img/more2.jpg') no-repeat center left; 
    padding-left: 20px; 
    text-decoration: underline;
}
.theme                  { font-size: 13px; text-decoration: underline; }
.IDX_blocks2            { color: #404040; font-size: 12px; } 
.IDX_blocks2 h2         { font-size: 1.4em; border-bottom: 2px solid #626262; }
.IDX_blocks2 h2 a       { color: #1a3a74; }
.IDX_blocks2 h2 a:hover { text-decoration: none; }
.IDX_blocks2 h3         { margin: 0; line-height: 15px; }
.IDX_blocks2 h3 a       { font-size: 14px; color: #1A3A75; }
.IDX_blocks2 article    { border-bottom: 1px solid #e2e2e2; margin-top: 10px; }
.IDX_blocks2 article:last-child { border: none; }
.IDX_tabs ul            { list-style: none; margin: 0 0 10px 0; display: inline-block; }
.IDX_tabs li            { float: left; border-right: 1px solid #9f9f9f; }
.IDX_tabs li a          { text-decoration: underline; padding: 9px 10px; color: #9f9f9f; }
.IDX_tabs li a:hover    { color: #626262; background: url('../img/tabs_hover.png') no-repeat center top; }
.IDX_blog h2            { font-size: 16px; font-weight: bold; color: #1a3a74; border-bottom: 2px solid #626262; }
.IDX_blog h3 a          { font-size: 13px; text-decoration: underline; color: #1a3a74; margin: 0; }
.IDX_blog article       {  border-bottom: 1px solid #e2e2e2; margin-top: 10px; }
.small_grey             { color: #626262; font-weight: bold; font-size: 11px; border-right: 1px solid #626262; padding-right: 5px; }
.comments               { color: #1a3a74; font-weight: bold; background: url('../img/comments.png') no-repeat center left; padding-left: 20px; font-size: 11px; }
.comments a             { color: #1a3a74; text-decoration: underline; }
.comment p              { margin: 0; font-style: italic; }
.PAGE_soc_buttons span   { margin-right: -5px; }
.editdate select {
width: 50px;
}
/* 4. Footer
-------------------------------------------------- */
footer          { color: #fff; padding: 15px; background: #626262; height: auto; }
footer a        { text-decoration: none; color: #fff; }
footer a:hover  { text-decoration: underline; }

footer h2 {
  font-size: 16px;
  color: #1a3a74;
  margin: 0;
  padding: 0;
  text-shadow: none;
}
.FT_navigator       { background: #eff0f2; margin-top: 40px; }
.FT_navigator h3    { font-size: 16px; color: #1a3a74; }
.FT_navigator a     { font-size: 12px; text-decoration: underline; line-height: 1.6em; }
footer ul           { list-style: none; margin: 0; }
footer li           { color: #fff; text-decoration: underline; padding-right: 20px; float: left; line-height: 3em; }
footer li a:hover   { color: #fff; }
footer p            { color: #b2b2b2; font-size: 12px; clear: left; }

.bottomline a {
  color: #ccc;
  font-size: 10px;
  padding-right: 20px;
  text-align: right;
}
.bottomline a:hover {
  color: #fff;
  text-decoration: none;
}

/* 5. Forums */
.postinfo   { background-color: #F0F0F0; padding: 5px; }
.signature  { border-top: 1px solid #E0E0E0; padding: 5px; font-size: 12px; color: #696969; }
.modbox     { background-color: #EDEDED; padding: 5px; border: 1px solid #E3E3E3; }

.forumsection { background-color: #EEEEEE; }

/* 6. Various
-------------------------------------------------- */
.centered   { text-align: center!important;}
.vmiddle    { vertical-align: middle!important; }
.label      { font-size: 10px; }

img.avatar,img.userphoto { border: 1px #fff solid; outline: 1px #ccc solid; }

blockquote {
  padding: 8px;
  border: 1px solid #CCDCE6;
  background-color: #E9F0F5;
  margin-bottom: 8px;
  margin-top: 8px;
  border-left: 4px solid #CCDCE6;
  margin-left: 5px;
  width: auto;
  color: #616161;
}
blockquote p    { font-size: 12px; }
blockquote img  { max-width: 100%; }

.width5     { width:5%; }
.width10    { width:10%; }
.width15    { width:15%; }
.width20    { width:20%; }
.width25    { width:25%; }
.width30    { width:30%; }
.width35    { width:35%; }
.width40    { width:40%; }
.width45    { width:45%; }
.width50    { width:50%; }
.width55    { width:55%; }
.width60    { width:60%; }
.width65    { width:65%; }
.width70    { width:70%; }
.width75    { width:75%; }
.width80    { width:80%; }
.width85    { width:85%; }
.width90    { width:90%; }
.width95    { width:95%; }
.width100   { width:100%; }

.margintop10    { margin-top: 10px; }
.marginright10  { margin-right: 10px; }
.margin0        { margin: 0; }
.marginbottom0  { margin-bottom: 0; }
.marginbottom20 { margin-bottom: 20px; }
.paddingright10 { padding-right: 10px; }

.pfs-icons {
  position: relative;
  display:block;
  width: 25%;
  float: left;
  margin: 0px;
  padding: 0px;
  z-index: 1;
}

.textright  { text-align: right; }
.textleft   { text-align: left; }
.no-border  { border: none !important; }

.clear      { clear: both; }

#search input     { 
  display: inline-block;
  width: 68%;
  height: 23px;
  min-width: 16px;
  padding: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #eaeaea; 
  box-shadow: none;
  border-radius: none;
}
.grey       { color: #b2b2b2; }
.blue       { color: #1A3A75; }
.blue a     { color: #1A3A75; text-decoration: underline; }

/* 7. Media queries
-------------------------------------------------- */
/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .loginbox { color: #fff!important; }
  .loginlinks li { margin-top: 10px; }
  .btn { margin: 3px; }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body { padding: 0; }
  .yourlogo h1 { margin-top: 70px; font-size: 48px; color: #EDF7FF; text-align: center; }
  .yourlogo small {
    font-size: 20px;
    font-weight: normal;
    line-height: 3;
    color: #D9D9D9;
  }
  .footersearch { margin-top: 25px; }
  .loginbox { color: #fff!important; }
  .loginlinks li { margin-top: 10px; }
  .btn { margin: 3px; }
  .forumsh4 { font-size: 14px; }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  body { padding: 0; }
  .content { padding: 10px; }
  .yourlogo h1 { margin-top: 70px; font-size: 32px; color: #EDF7FF; text-align: center; }
  .yourlogo small { font-size: 16px; line-height: 2; }
  .footersearch { margin-top: 25px; }
  .loginbox { color: #fff!important; }
  .loginlinks li { margin-top: 10px; }
  .btn { margin: 3px; }
}